<div class="header">
  <div class="user-profile">
    <a [matMenuTriggerFor]="menu">
      <img src="./assets/placeholderUser.jpg" alt="Profile Picture" class="profile-picture">
    </a>
    <mat-menu #menu="matMenu">
      <button *ngIf="!this.loggedIn()" (click)="openLoginModal()" mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button *ngIf="!this.loggedIn()" (click)="openRegisterModal()" mat-menu-item>
        <mat-icon>app_registration</mat-icon>
        <span>Register</span>
      </button>
      <button *ngIf="this.loggedIn()" (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <a>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
    </a>
  </div>
</div>
