button {
  background-color: #85E0A3;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.disabled {
  background-color: #c4c4c4;
  color: white;
  cursor: not-allowed;
}
